@use "../base/variables" as c;

.promo {
    padding: 21px 0 60px 0;
    background: url(image/bg1_859.jpg) center (center/cover) no-repeat;
        &__wraper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
        @media (max-width: 992px) {
            padding-right: 80px;
            font-size: 35px;
        }
    }
    &__subheader {
        margin-top: -8px;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        @media (max-width: 992px) {
            padding-right: 55px;
        }
    }
    &__icons {
        margin-top: 40px;
        width: 425px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 992px) {
            padding-right: 70px;
        }
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;

        }
    }
    &__link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        @media (max-width: 992px){
            margin-right: 60px;
        }
        a {
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}

.promo {
    @media (max-width: 1200px) {
        background: url("image/bg1_859.jpg") no-repeat;
    }
}

.promo {
    @media (max-width: 960px) {
        display: flex;
        padding: 20px 0 46px 0;
        img {
            max-width: 75%;
        }
        .header {
            &__contacts {
                padding-left: 60px;
            }
        }
    }
}

.promo {
    @media (max-width: 576px) {
        .header {
            margin: 10px;
            &__phone {
                font-size: 17px;
            }
            &__official {
                font-size: 9px;
                span {
                    font-size: 18px;
                    margin-top: 12px;
                }
            }
        }
        &__wraper {
            padding-right: 20px;
        }
        &__header {
            font-weight: 500;
        }
    }
}